    body {background-color: #eee;}

    p { color: black;
        font-family: "Times New Roman",serif;
        font-size:18px;}

    div {color: gray;
        font-family: "Courier New",monospace;
        font-size:14px;}

    h1,h2 {color: red}
    h2{font-size: 100%}

    .glava {font-family: "Times New Roman", serif; color: blue ;font-size: 120%; font-style: italic; font-weight: bold}
    .spisok{font-family: "Times New Roman", serif; color: black; font-size: 100%; font-style: normal;text-decoration: underline}
